body {
    background-color: rgb(234, 215, 250);
}

h1 {
    text-align: center;
    font-size: 28pt;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.link {
    font-size: 16pt;
    margin: 10px;
    color: rgb(0, 0, 0);
}